[submodule "FUENTES/tiendi-api"]
	path = FUENTES/tiendi-api
	url = https://github.com/kanoso/tiendi-api.git
[submodule "FUENTES/tiendi-web"]
	path = FUENTES/tiendi-web
	url = https://github.com/kanoso/tiendi-web.git
[submodule "FUENTES/tiendi-admin"]
	path = FUENTES/tiendi-admin
	url = https://github.com/kanoso/tiendi-admin.git
[submodule "FUENTES/tiendi-vendor"]
	path = FUENTES/tiendi-vendor
	url = https://github.com/kanoso/tiendi-vendor.git
[submodule "FUENTES/tiendi-go"]
	path = FUENTES/tiendi-go
	url = https://github.com/kanoso/tiendi-go.git
[submodule "FUENTES/tiendi-site"]
	path = FUENTES/tiendi-site
	url = https://github.com/kanoso/tiendi-site.git
[submodule "FUENTES/tiendi-valia"]
	path = FUENTES/tiendi-valia
	url = https://github.com/kanoso/tiendi-valia.git
[submodule "FUENTES/tiendi-shield"]
	path = FUENTES/tiendi-shield
	url = https://github.com/kanoso/tiendi-shield.git
[submodule "FUENTES/tiendi-kipu"]
	path = FUENTES/tiendi-kipu
	url = https://github.com/kanoso/tiendi-kipu.git
